  nav {
    margin: 0px;
    padding: 0%;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,9,121,1) 24%, rgba(0,212,255,1) 100%);
    color: rgb(255, 255, 255);
  }
  .navitems {
    margin-top: 0;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
  }
  .navbar{
    margin-bottom: 20px;
    border-radius: 20px;
  }

  h2 {
    margin-left: 50px;
    margin-top: 55px;
    font-size: 35px;
  }
  .navitems button {
    width: 10%;
    height: 7vh;
    border: 2px solid white;
    border-width: 4px;
    border-radius: 40px;
    margin-top: 40px;
    background: black;
    color: rgb(242, 248, 243);
    font-family: serif;
    font-size: 20px;
    cursor: pointer;
  }
  
  .userdatacontainer {
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(45,103,253,1) 100%);
  }
  #main {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  .name:hover {
    color: rgb(31, 69, 127);
  }
  .avatar {
    border-radius: 15%;
  }
  .profile_cont {
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform ease 0.2s;
    opacity: 0.8;
    margin-top: 5vh;
  }
  .profile_cont:hover {
    transform: scale(1.05);
    opacity: 1;
  }